<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

  <!--<import resource="Spring-Datasource.xml"/>-->
  <!--<import resource="Spring-User.xml"/>-->
  <!--<import resource="Spring-Project.xml"/>-->
  <!--<import resource="Spring-Task.xml"/>-->
  <!--<import resource="Spring-BusinessTrip.xml"/>-->
  <!--<import resource="Spring-WorkingDay.xml"/>-->
  <!--<import resource="Spring-Vacation.xml"/>-->
  <!--<import resource="Spring-Statistic.xml"/>-->
  <!--<import resource="Spring-SecurityUser.xml"/>-->
  <import resource="Email-Service.xml"/>
  <!--<import resource="Spring-Comment.xml"/>-->

</beans>